.container{
    height: 100%;
    background-image: linear-gradient(to right, #1e242b , #38424d);
    
}

.SAM{
    height: 100%;
    width: 80%;
    margin-top: 0;
    padding-left: 10%;
}
.YOLO{
    height: 100%;
    width: 80%;
    
    padding-left: 10%;
}