.box{
    
}

.tabs{
    font-weight: bold !important;
    font-size: small !important;
}


.bg-image{
    background-image: url('../Assets/background6.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;

}

